<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tokens table</title>
</head>
<body>
<h1>All tokens / read only</h1>
<table>
    <thead>
    <tr>
        <th>User ID</th>
        <th>Expire date</th>
        <th>Access token</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="token: ${tokens}">
        <form method="post">
            <td><input type="text" readonly="readonly" name="user_id" th:value="${token.user.id}"></td>
            <td><input type="text" readonly="readonly" name="expire_date" th:value="${token.expireDate}"></td>
            <td><input type="text" readonly="readonly" name="access_token" th:value="${token.accessToken}"></td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>