<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users table</title>
</head>
<body>
<h1>All users</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Full name</th>
        <th>Username</th>
        <th>Register date</th>
        <th>About</th>
        <th>Image ID</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form method="post">
            <td><input type="text" readonly="readonly" name="id" value="new"></td>
            <td><input type="text" name="full_name"></td>
            <td><input type="text" name="username"></td>
            <td><input type="text" name="register_date"></td>
            <td><input type="text" name="about"></td>
            <td><input type="text" name="image_id"></td>
            <td><input type="submit" value="Create"></td>
            <td></td>
        </form>
    </tr>
    <tr th:each="user: ${users}">
        <form method="post">
            <td><input type="text" readonly="readonly" name="id" th:value="${user.id}"></td>
            <td><input type="text" name="full_name" th:value="${user.fullName}"></td>
            <td><input type="text" name="username" th:value="${user.username}"></td>
            <td><input type="text" name="register_date" th:value="${user.registerDate}"></td>
            <td><input type="text" name="about" th:value="${user.about}"></td>
            <td><input type="text" name="image_id" th:value="${user.image != null} ? ${user.image.id}"></td>
            <td><input type="submit" value="Update"></td>
        </form>
        <form method="post">
            <td><input type="hidden" name="id" th:value="${user.id}"><input type="hidden" name="delete"
                                                                            value="true"><input type="submit"
                                                                                                value="Delete"></td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>