<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Feed</title>
    <link href="/static/style.css" rel="stylesheet" />
</head>
<body>
<div class="header">
    <div class="header-content">
        <div class="site-name"><a href="/">Blogs</a></div>
        <a href="/login"><span class="button login-button" th:text="${current_user != null} ? 'Profile' : 'Login'"></span></a>
    </div>
</div>

<div class="blog-feed-container">
    <div th:if="${return_message != null}" th:text="${return_message}" class="request-message error"></div>

    <div class="post-card">
        <form method="post">
            <div class="post-title">Authorization</div>
            <div>
                <input id="username-field" type="text" name="username" placeholder="Username">
            </div>
            <div>
                <input id="password-field" type="password" name="password" placeholder="Password">
            </div>
            <div>
                <input class="button login-button" type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
</body>
</html>
